# Exercise: Tennis

In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import zipfile
import pandas as pd
import seaborn as sns

In this exercise we will load the Tennis dataset, choose one of the datasets, and fit a logistic model to try and predict if the player won a game.

In [5]:
filename = '../data/tennis.zip'
tennis_zip = zipfile.ZipFile(filename)
for f in tennis_zip.filelist: 
    print(f.filename)

data/Andy-Murray.csv
data/Novak-Djokovic.csv
data/Rafael-Nadal.csv
data/Roger-Federer.csv

In [7]:
player = 'Rafael-Nadal'
path = 'data/{}.csv'
path = path.format(player.replace(' ', '-'))
with tennis_zip.open(path) as f:
    df = pd.read_csv(f)
df.head()

,year,tournament,start date,type,surface,draw,atp points,atp ranking,tournament prize money,round,...,player2 2nd serve return points total,player2 break points converted won,player2 break points converted total,player2 return games played,player2 total service points won,player2 total service points total,player2 total return points won,player2 total return points total,player2 total points won,player2 total points total
0,2001,"Seville, Spain",17.09.2001,CH,Outdoor: Clay,Draw: 32,5,NaN,$650,R32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,"Seville, Spain",17.09.2001,CH,Outdoor: Clay,Draw: 32,5,NaN,$650,R16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,"Spain F10, Madrid",10.09.2001,FU,Outdoor: Hard,Draw: 32,NaN,NaN,$117,R32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002,"Spain F20, Gran Canaria",25.11.2002,FU,Outdoor: Carpet,Draw: 32,18,238.0,"$1,950",R32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002,"Spain F20, Gran Canaria",25.11.2002,FU,Outdoor: Carpet,Draw: 32,18,238.0,"$1,950",R16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Step-by-step instructions:

- Use whatever table columns you want as features (i.e. independent variables, $x$s), see `df.columns` for ideas.
- Create a new column that has a boolean specifiying if the plater won the game (see the columns `player1 name` and `winner`).
- Create a regression model and fit it to the chosen data (using scikit, statsmodels, or our own hand-crafted).
- Check the accuracy (score) of the fitted model.
- Use the `pickle` model to dump the fitted model so it can be used again later for prediction or re-fitting.

For bonus points:
- Use [`sklearn.model_selection.train_test_split`](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html#sklearn.model_selection.train_test_split) (click the link for docs) to split the `X` and `y` into a training and testing set.
- Fit the model on the training set.
- Score the model on the test set.

Solution is given in [solutions/logistic-tennis.py](../solutions/logistic-tennis.py).